.square-container {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font: optional;
    font-size: 100px;
    font-weight: bolder;
    cursor: pointer;
}

.border-right-bottom {
    border-right: 2px solid #0e0e0e;
    border-bottom: 2px solid #0e0e0e;
}

.border-right {
    border-right: 2px solid #0e0e0e;
}

.border-botttom {
    border-bottom: 2px solid #0e0e0e;
}

.x-color {
    color: #41bed7;
}

.y-color {
    color: #D6BAFA;
}

